#principais-opcoes {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
}

#principais-opcoes #reserva, #principais-opcoes #delivery{
    width: 590px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto 0;
    
}

#reserva {
    background-image: url(../imagens/imagem-e-sombra-reserva.png);

}
#delivery {
    background-image: url(../imagens/imagem-e-sombra-delivery.png);

}


.conteudo {
    padding: 30px 30px 30px 40px;
    position: relative;
}


.conteudo h3 {
    font-size: 1.2rem;
}

#reserva .conteudo h3 {color: var(--cor-laranja-claro);}
#delivery .conteudo h3 {color: var(--cor-verde-claro);}

.conteudo h1 {
    color: white;
    font-size: 3.5em;
}
.conteudo p {
    color: white;
    width: 249px;
    font-size: 1.2rem;
    margin: 13px 0px 27px 0px;
}
#delivery p {width: 200px;}

.conteudo button {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.20em;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 11px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.336);
}

#reserva .conteudo button {background-color: var(--cor-laranja-claro);}
#delivery .conteudo button {background-color: var(--cor-verde-claro);}