:root {
    --cor-fundo-escuro: #111111;
    --cor-fundo-escuro-claro: #1C1C1C;
    --cor-fundo: #B4B4B4; 
    --cor-fundo-claro: #f0f0f0; 

    --cor-verde-claro: #ADDE96;
    --cor-laranja-claro: #EC9440;
    --cor-vermelho: #D81312;
    --cor-bege-claro: #FFF6CB;

  }

body {
    background: linear-gradient(to left, #dacb88,#ad703b);
}

button {
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.15);
}
