header {
    background-color: rgb(255, 227, 190);
}

header a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

header a:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px;

    background-color: var(--cor-fundo-escuro);
}

nav img {
    height: 80px;
}

nav > div, nav > ul {
    background-color: rgba(151, 241, 241, 0);
}

nav > div, nav > ul {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
}

nav li {
    letter-spacing: 3px;
    margin-right: 2.5em;
}

#login {
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    transition: 0.5s;
}
#login > img {
    width: 15%;
    height: 15%;
    padding: 5px;
}

#login:hover {
    transform: scale(1.1);
}

div#imagem-sushi {
    width: 100%;
    height: 250px;
    background-image: url(../imagens/frutos-do-mar.png);
    filter: blur(1.5px);
    margin: -1.5px;
    

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

