
footer {
    color: white;
}

footer h3 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#infos {
    padding: 40px 40px 40px 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-fundo-escuro);
}


.footer-infos { 
    text-align: center;

}

.footer-infos p, .footer-infos li {
    margin-bottom: 10px;
    font-size: 0.9em;
    letter-spacing: 5px;
}
/* #logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#redes {
    text-align: center;
    align-items: center;
}
#redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#redes ul li {
    margin: auto;
    transition: 0.5s;
}

#redes ul li:hover {
    transform: scale(1.2);
}


#github {
    text-align: center;
    padding: 15px;
    letter-spacing: 3px;
    background-color: #3a3a3a;
}

#github p {
    font-size: 0.8em;
}

#github a {
    display: inline-block;
    margin-top: 7px;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: #8CC63E;
    transition: 0.5s;
}

#github a:hover{
    color: #96c45a;
    text-shadow: 0px 0px 5px #ffffff3a;
    transform: scale(1.2);
}